/*
Posso modificare la dimensione assoluta di tutti i testi del body
body{
    font-size: 20px;

}*/

/*
@font-face {
    font-family: ;
    src: url();
}
*/

:root{
    font-size: 25px
}

#t1 {
    font-size: 1rem;
    color: #fc7;
}

#t2 {
    font-size: 16px;
}

#parent{
    font-size: 50px;
}

#t3{
    font-size: 1em;
}